<!doctype html>
<html>
  <!-- Include the head partial (contains <head>, <title>, fonts, CSS) -->
    <%- include('partials/head') %>
  <body>
    <h1>about</h1>
  <h2><%=shopName%></h2>
    <p>Let Paola welcome you to Osteria Tufo, an Italian restaurant in the heart of Finsbury Park. Paola likens her restaurant to an extension of her home’s dining room and personally greets and treats each customer as a welcome guest. Each member of staff is attentively handpicked to guarantee the best possible service and experience to all our customers. The result is a cordial and warm atmosphere that will undoubtedly make you feel at home and wanting to come back for more.
    <br>
        Conveniently located in a friendly neighbourhood near Finsbury Park station, only a few steps away from the acclaimed Park Theatre, our restaurant attracts locals and theatre goers as well as a growing number of foodies from other areas of London willing to make the extra mile to savour the honest and classy cuisine of Osteria Tufo.
    <br>
        The quality of our food is only matched by the passion and dedication that Paola puts into the restaurant. All our wines and recipes come from Naples, Paola’s homeland, and the whole of southern Italy. Although tradition is key here, our dishes do not ignore contemporary tastes and always offer some modern twist to the classic recipes. However, do not expect some over-designed tiny portions of food deceptively arranged on you plate. Honesty and simplicity are fundamental values to us.
    <br>
        Whether you are looking to have a romantic dinner for two or a good time with great friends, a meal before the theatre or hosting a private event, make sure you try Osteria Tufo. Paola guarantees that you won’t be disappointed.


  </body>
</html>
