<!doctype html>
<html>
  <!-- Include the head partial (contains <head>, <title>, fonts, CSS) -->
    <%- include('partials/head') %>
  <body>
    <h1>welcome to</h1>
 <h2><%=shopName%></h2>
    <h3>Here are some few service we provide:</h3>
    <ul>

      <!-- for loop and array of product categories -->
       <% for(let i = 0; i < productCategories.length; i++) { %>
        <li><%= productCategories[i] %></li>
      <% } %>

    </ul>
    </body>
</html>
