<!doctype html>
<html>
  <head>
    <title> The Thirsty Student</title>
  </head>
  <body>
    <h1>Welcome to The Thirsty Student Shop</h1>
    <h2>Here are some things that we sell:</h2>
    <ul>
      <li>Beer</li>
      <li>Wine</li>
      <li>Soft Drinks</li>
    </ul>
    </body>
</html>
